nimcache/
nimble.develop
nimble.paths
*.exe
tests/test_decoder
tests/test_layout
tests/test_routing
tests/test_render_snapshot
tests/test_mount
tests/test_widgets
examples/[0-9][0-9]_*
!examples/*.nim
illview.log
